pandas
numpy
matplotlib
python-binance
scikit-learn
ta
flask[async]
cachetools
Flask-Caching
aiohttp
aiofiles
asyncio
python-dotenv
fastapi 
uvicorn 
python-multipart 
jinja2
lightweight-charts
pandas-ta
mplfinance
ccxt